{% extends 'layout.html' %}
{% load static %}

{% block 'main' %}
<h2>Privacy Policy</h2>
<p>

    Last Updated: [22/02/2024] <br>
    
    Welcome to Lapify! This Privacy Policy describes how Lapify ("we," "us," or "our") collects, uses, and shares information when you use our website (the "Site") or interact with us in any manner. Your privacy is important to us, and we are committed to protecting your personal information.
    
    Information We Collect
    When you visit our Site, we may collect the following types of information:
    
    Personal Information: We may collect personal information such as your name, email address, shipping address, billing address, phone number, and payment information when you place an order or create an account on our Site.
    
    Usage Information: We may collect information about your interactions with the Site, including the pages you visit, the products you view, the searches you conduct, and other actions you take on the Site.
    
    Device Information: We may collect information about the device you use to access the Site, including your IP address, browser type, operating system, and other technical information.
    
    Cookies: We may use cookies and similar tracking technologies to collect information about your browsing behavior on the Site. Cookies are small files stored on your device that allow us to recognize your browser and remember certain information. <br>
    <br>
    <br>  How We Use Your Information
    We may use the information we collect for the following purposes:
    
    To process and fulfill your orders, including shipping products to you and providing customer support.
    
    To communicate with you about your orders, account, or inquiries.
    
    To personalize your experience on the Site and provide tailored recommendations and advertisements.
    
    To improve our products, services, and the Site's functionality.
    
    To detect and prevent fraud and unauthorized access to our systems.
    
    To comply with legal obligations and enforce our policies. <br>
    <br>
     Information Sharing:
    We may share your information with third parties for the following purposes:
    
    Service Providers: We may share your information with third-party service providers who help us operate the Site, process payments, fulfill orders, or perform other business functions.
    
    Business Transfers: If we are involved in a merger, acquisition, or sale of all or a portion of our assets, your information may be transferred as part of that transaction.
    
    Legal Compliance: We may disclose your information to comply with applicable laws, regulations, legal processes, or government requests.
    <br>
    Your Choices
    You may choose not to provide certain information to us, but doing so may limit your ability to use certain features of the Site or make purchases.
    
    You can opt-out of receiving promotional emails from us by following the instructions provided in the email or by contacting us directly.
    <br>
    Data Security
    We take reasonable measures to protect the security of your information and prevent unauthorized access, disclosure, or alteration. However, no method of transmission over the internet or electronic storage is completely secure, so we cannot guarantee absolute security.
    <br>
    Children's Privacy
    Our Site is not directed to children under the age of 13, and we do not knowingly collect personal information from children. If you are a parent or guardian and believe that your child has provided us with personal information, please contact us so that we can delete the information.
    <br>
    Changes to this Privacy Policy
    We may update this Privacy Policy from time to time to reflect changes in our practices or legal requirements. We will notify you of any material changes by posting the updated policy on the Site or by other means.
    
   <br> Contact Us
    If you have any questions or concerns about this Privacy Policy or our data practices, please contact us at [insert contact information].
    <br>
    By using our Site, you consent to the collection, use, and sharing of your information as described in this Privacy Policy.
    <br>
    Thank you for choosing  Lapfiy!</p>
    {% endblock 'main' %}